@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
header > div {
    background:linear-gradient(135deg, #007bff 0%,#1e00a1 100%);; 
    display:flex;}
    body{
        background-color:lightblue;
        background-image: url("./low_poly_banner_design_1711.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .aboutme{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
    .text6{
        font-family: 'Rubik', sans-serif;
        text-align: right;
    direction: rtl;
    margin: 50px;
    color: #1e00a1;

    }