header > div {
    background:linear-gradient(135deg, #007bff 0%,#1e00a1 100%);; 
    display:flex;}
    body{
        background-color:lightblue;
        background-image: url("./low_poly_banner_design_1711.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .form{
        text-align: center;
        color:#1e00a1;
        font: size 50px; 
    }